<!DOCTYPE html>

<html lang = "pt-br">

    <head>

        <meta charset = "utf-8">
        <title>Cadastrar</title>

    </head>

    <body>

        <h1> Bem vindo a clinica veterinária, acesso aos usuários</h1>

        <h3> O que você deseja fazer? </h3>

        <a href="./cadastro.php"> Realizar Cadastro</a><br>
        <a href="./editaEscolha.php"> Realizar Edição de dados da conta</a><br>
        <a href="./deleta.php"> Deletar conta</a><br>
        <a href="../controllers/userController.php?action=findAll"> Consultar contas</a><br>





    </body>

</html>
