@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-size: 100%;
	background-color: white;
}

.cabecalho{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: baseline;
	justify-content: space-around;
	padding: 24px;
}

.cabecalho-img{
	height: 72px;
}

.cabecalho-menu{
	display: flex;
	align-items: baseline;
	gap: 60px;
}

.cabecalho-menu-item{
	font-family: 'Righteous', cursive;
	font-size: 20px;
}

button{
	font-family: 'Righteous', cursive;
	font-size: 20px;
	color: white;
	border: none;
	background-color: #FFB300;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 8px;
}
