@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Righteous&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	font-size: 100%;
	background-color: white;
}

.cabecalho{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: baseline;
	justify-content: space-around;
	padding-top: 24px;
}

.cabecalho-img{
	height: 60px;
}

.cabecalho-menu{
	display: flex;
	align-items: baseline;
	gap: 60px;
}

.cabecalho-menu-item{
	font-family: 'Righteous', cursive;
	font-size: 20px;
}

.cabecalho-menu-botao{
	font-family: 'Righteous', cursive;
	font-size: 20px;
	color: white;
	background-color: #FFB300;
	border: none;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 8px;
}

button:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.conteudo{
	border-top: 4px solid black;
	margin-bottom: 20px;
}

.conteudo-principal{
	display: flex;	
	align-items: center;
	justify-content: space-around;
}

.conteudo-principal-img{
	background-color: #FFB300;
}

.conteudo-principal-escrito{
	padding: 20px;

}

.conteudo-principal-título{
	font-family: 'Righteous', cursive;
}

.conteudo-principal-conheca{
	font-family: 'Righteous', cursive;
	text-align: center;
	padding-left: 30px;
}

.conteudo-principal-descricao{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

#serviços{
	display: flex;
	align-items: center;
}

#corpoclinico{
	display: flex;
	justify-content: left;
}

.rodape{
	
}
