<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Login</title>
</head>
<body>
    <h3>Acesse sua conta</h1>

    <form action="../cadastroL.php" method="POST">

        <h2>TELA DE CADASTRO</h2>

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <label for="cfp">CPF</label>
        <input type="text" name="cfp" id="cfp">
        <label for="rg">RG</label>
        <input type="text" name="rg" id="rg">
        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" id="telefone">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">

        <input type="submit" value="Cadastrar">

        <br> <a href="login.html">Login</a>

    </form>
</body>
</html>