*{
    padding:0px;
    margin: 0px;
    font-family:arial;
}

label,input{
    display:block;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 13pt; 
    width: 100%;
}

form{
    width: 330px;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
    margin: 30px auto;
}

input[type="submit"]{
    margin-top: 10px;
    cursor: pointer;
}

h2,h3{
    text-align: center;
}

tr{
    line-height: 30px;
}

td{
    padding: 0px 5px;
}

