<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>Login</title>
</head>
<body>

    <br> <h3>Acesse sua conta</h1>

    <form action="../loginL.php" method="POST">

        <h2>TELA DE LOGIN</h2>

        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
        
        <input type="submit" value="Cadastrar">
        
        <br> <a href="cadastro.html">cadastro</a>

    </form>
</body>
</html>