*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Quem somos
/* 5. Nossos cursos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root{
	--ff-primary: "Nunito", Helvetica, Arial, sans-serif;
	 
	--clr-green-dark: #229e6f;
	--clr-green-light: #0BF96A;
	--clr-pink-dark: #E10BF9;
	--clr-pink-light: #F3A0FD;
	--clr-white: #F5F5F5;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

body{
	background-color: var(--clr-white);
	font-family: var(--ff-primary);
	overflow-x: hidden;
}
a,
a:hover,
a:active,
a:link,
a:visited{
	text-decoration: none;
	color: black;
}

hr{
	border: none;
	background-color: var(--clr-pink-dark);
	height: 2px;
	width: 140px;
	margin: 20px auto;
	border-radius: 5px;
}

/*p{
	line-height: 21.82px;
	padding: 0 10px;
}*/

.section__titulo{
	text-align: center;
	font-size: 3rem;
	margin-bottom: 10px;
}

img{
	display:  block;
	max-width: 100%;
}
/**********************************/
/* 2. Menu
/**********************************/

.menu-bg{
	background-color: #34d4f0;
}

.menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 960px;
	margin: 0 auto;
	flex-wrap: wrap;
}

.menu__logo{
	margin:10px;
}

.nav__list{
	display: flex;
	flex-wrap: wrap;

}

.nav__link{
	padding: 20px 10px;
}

.slider{
	margin:0 auto;
	width: 400px;
	height: 200px;
	overflow: hidden;
	border-radius: 10px;

}

.slides{
	width: 400%;
	height: 200;
	display: flex;
	
}

.slides input{
	display: none;

}

.slide{
	width: 25%;
	position: relative;
	transition: 2s;
	border-radius: 10px;


}

.slide img{
	width: 400px;
	border-radius: 10px;

}

.manual-navigation{
	position: absolute;
	width: 400px;
	margin-top: -20px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 0.5px solid rgb(0, 0, 0);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){ /*nao aplica no ultimo*/
	margin-right: 20px;
}

.manual-btn:hover{
	background-color: rgb(102, 255, 0);
}

#radio1:checked ~ .first{
	margin-left: 0;
}

#radio2:checked ~ .first{
	margin-left: -25%;
}

#radio3:checked ~ .first{
	margin-left: -50%;
}

#radio4:checked ~ .first{
	margin-left: -75%;
}

.navigation-auto div{
	border: 0.5px solid #20a6ff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.navigation-auto{
	position: absolute;
	width: 400px;
	margin-top: 180px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child){
	margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background-color: rgb(255, 255, 255);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: rgb(255, 255, 255);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: rgb(255, 255, 255);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background-color: rgb(255, 255, 255);
}

/**********************************/
/* 3. Header
/**********************************/

.intro{
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	margin: 0 auto;
	padding: 25px 0;
}
/**********************************/
/* 4. Quem somos
/**********************************/
.somos{
	max-width: 960px;
	margin: 0 auto;
}

.somos-c{
	display: flex; /* deixa lado a lado */
	flex-wrap: wrap; /* deixa um embaico do outro/*/
	align-items: center;
}
.somos-c__texto{
	flex:  6 1 160px; /* flex grow frlw shrink flex basis/ o texto ocupa um espaco 6x maior q a imagem, o 1 permite q o item reduza o tamanho para caber, tamanho ini 160px*/

}

.somos-c__img{
	flex: 1 1 350px;
}
/**********************************/
/* 5. Nossos cursos
/**********************************/
.cursos{
	max-width: 960px;
	margin: 0 auto;
}

.cursos-c{
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* alinha8**/
}

.curso{
	width: 240px;
}


/**********************************/
/* 6. Planos
/**********************************/

/**********************************/
/* 7. Vantagens
/**********************************/

/**********************************/
/* 8. Newsletter
/**********************************/

/**********************************/
/* 9. Footer
/**********************************/


/**********************************/
/* 10. Login e Cadastro*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ecf0f1;
}

.content{
	background-color: #fff;
	border-radius: 15px;
	width: 960px;
	height: 70%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.content::before{
	content: "";
	position: absolute;
	background-color: #58af9b;
	width: 40%;
	height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;

	left: 0;
}

.title{
	font-size: 28px;
	font-weight: bold;
	text-transform: capitalize;
}

.title-primary{
	color: #fff;
}
.title-second{
	color: #58af9b;
}

.description{
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	line-height: 30px;
}

.description-primary{
	color: #fff;
}

.description-second{
	color: #7f8c8d;
}

.btn{
	border-radius: 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 10px;
	padding: 10px 50px;
	cursor: pointer;
	font-weight: bold;
	align-self: center;
	border: none;
	margin-top: 1rem;
}
.btn-primary {
	background-color: transparent;
	border: 1px solid #fff;
	transition: background-color .5s;

}

.btn-primary:hover{
	background-color: #fff;
	color:#58af9b ;
}

.btn-second {
	background-color: #58af9b;
	border: 1px solid #58af9b;
	transition: background-color .5s;
}

.btn-second:hover{
	background-color: #fff;
	border: 1px solid #58af9b;
	color:#58af9b ;
}

.first-content{
	display: flex;
}

.first-content .second-column{
	z-index: 12;
}

.first-column{
	text-align: center;
	width: 40%;
	z-index: 10;
}

.second-column{
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.social-media{
	margin: 1rem 0;
}



.link-social-media:not(:first-child){
	margin-left: 10px ;

}

.link-social-media .item-social-media{
	transition: background-color .5s;

}

.link-social-media:hover .item-social-media{
	background-color: #58af9b;
	color: #fff;
	border-color: #58af9b;

}

.list-social-media{
	display: flex;
	list-style-type: none;

}

.item-social-media{
	border: 1px solid #bdc3c7;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #95a5a6;


}


.form-login{
	display: flex;
	flex-direction: column;
	width: 55%;
}

.form-login input{
	height: 45px;
	border: none;
	background-color: #ecf0f1;
	width: 100%;
}


.label-input{
	background-color: #ecf0f1;
	display: flex;
	align-items: center;
	margin: 8px;
	
}

.icon-modify{
	color: #7f8c8d;
	padding: 0 5px;
}


/* second content*/ 

.second-content{
	position: absolute;
	display: flex;
}

.second-content .first-column{
	order: 2;
	z-index: -1;
}


.second-content .second-column{
	order: 1;
	z-index: -1;

}

.password{
	color: #34495e;
	font-size: 14px;
	text-align: center;
}

.password::first-letter{
	text-transform: capitalize;
}


.sign-in-js .first-content .first-colum,
.sign-in-js .first-content .second-column{
	z-index: -1;
}

.sign-in-js .second-content .first-colum,
.sign-in-js .second-content .second-column{
	z-index: 12;
}




/**********************************/

/* NAV BAR*/

.nav__bar{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #8137d6;
	height: 8vh;
}

.nav-list{
	list-style: none;
	display: flex;
	position: absolute;
	top: 8vh;
	right: 0;
	width: 5vw;
	height: 32vh;
	background: #8137d6;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transform: translateX(100%);
	transition: transform 0.3s ease-in;
}

.nav-list li{
	letter-spacing: 2px;
	margin-left: 0;
	opacity: 0;

}
.mobile-menu{
	display: block;
	cursor: pointer;

}
.mobile-menu div{
	width: 32px;
	height: 2px;
	background: #F5F5F5;
	margin: 8px;
}

.nav-list.active {
	transform: translateX(0);
}
